.bold-text {
    font-weight: bold;
    font-family: 'Spectral SC', serif;
}

.large-text {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.very-large-text {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

p.bold-text:active {
    background-color: aqua;
}