* {
  border-style: solid;
  border-color: black;
  color: black;
}


div.container {
  width: 100%;
  border: 2px;
}

header {
  background-color: black;
  z-index: 2;
  height: 200px;
  width: 100%;
}

footer {
  background: darkgrey;
  text-align: center;
  z-index: 1;
}


h1 {
  float: left;
  color: white;
  background-color: grey;
}

li {
  display: inline-block;
  color: darkgrey;
  text-decoration-color: darkgrey;
}

ul {
  list-style: none;
  float: right;
  padding-right: 40px;
  margin-right: 40px;
  padding: 20px;
  color: darkgrey;
}
