* {
  border-style: solid;
  border-color: blue;
  color: black;
    border: 1px;
    position: relative;
}

div.float-margin-left  {
    margin-left: 10%;
}

div.float-margin-right{
    margin-right: 10%;
}

div.line {
    height: 20px;
    color: black;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

#left-main-border {
    height: 400px;
    width: 650px;
    padding-left: 20px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px; 
    float: left;
    margin-bottom: 40px;
    margin-top: 10px;
}
    
div.container {
    width: 100%;
    height: 100%;
}

/* testing contect same area.
div.all-content {
    height: 900px;
    width: 70%;
    border-style: solid;
    border: 3px;
}
*/

div.right-small {
    height: 200px;
    width: 110px;
    border-style: solid;
    float: right;
    
}

div.background {
    height: 100%;
    background-color: lightcyan;
    width: 100%;

}

header {
    margin-bottom: 10px;
    background-color: grey;
    height: 80px;
    width: 100%;
}

/*margins for all content */

h2 {
    text-align: left;
    font-size: 30px;
    margin: 20px;
}

footer {
    background: darkgrey;
    text-align: center;
    width: 100%;
    height: 90px;
    float: left;
}

#line-header{
    border-style: solid;
    border-color: black;
    border: 1px;
}

h1 {
    float: left;
    background-color: turquoise;
    margin-top: 3px;
    padding: 20px;
    color: white;
}

li {
    display: inline-block;
    color: black;
}

ul {
    list-style: none;
    float: right;
    color: black;
    margin: 20px;
    padding: 10px;
    color: darkgrey;
}
